<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Vance</title>
    <link rel="stylesheet" href="courses.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>


    <section class="main">
        <nav class="navbar overlay">
            <img src="../images/DanceVance.png" class="logo" height="45px" alt="">
            <div class="linkcontainer">
                <a href="" class="navlink flexrow center">Course</a>
                <a href="" class="navlink flexrow center">Summer Camp</a>
                <a href="" class="navlink flexrow center ">Book Free Trial</a>
                <a href="" class="navlink flexrow center"> My Course</a>
                <img src="images/user.png" class="circle" height="35px" alt="">
            </div>
        </nav>
    </section>

    <section>
            <div class="textcontainer">
                <h1 class="heading">Courses</h1>
                <p class="paragraph" >Progressive online learning journeys, designed and facilitated LIVE by experts, in groups of 4 or less learners.</p>
            </div>
            <div class="container coursecardpadding">
                <div class="coursecard">
                    <div class="carditems flexrow center">
                        <div class="coursedescription">
                            <h2 class="coursetitle">ART and CRAFT</h2>
                            <div class="courseage">
                                <i class="fa-solid fa-cake-candles"></i>
                                <h3 > 4-11 Years </h3>
                            </div>
                            <p >An exploration of the elements and principles of arts</p>
                        </div>
                        <div class="imgcontainer">
                            <img src="/images/Bollywood.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="coursecard">
                    <div class="carditems flexrow center">
                        <div class="coursedescription">
                            <h2 class="coursetitle">ART and CRAFT</h2>
                            <div class="courseage">
                                <i class="fa-solid fa-cake-candles"></i>
                                <h3 > 4-11 Years </h3>
                            </div>
                            <p >An exploration of the elements and principles of arts</p>
                        </div>
                        <div class="imgcontainer">
                            <img src="/images/Bollywood.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="coursecard">
                    <div class="carditems flexrow center">
                        <div class="coursedescription">
                            <h2 class="coursetitle">ART and CRAFT</h2>
                            <div class="courseage">
                                <i class="fa-solid fa-cake-candles"></i>
                                <h3 > 4-11 Years </h3>
                            </div>
                            <p >An exploration of the elements and principles of arts</p>
                        </div>
                        <div class="imgcontainer">
                            <img src="/images/Bollywood.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="coursecard">
                    <div class="carditems flexrow center">
                        <div class="coursedescription">
                            <h2 class="coursetitle">ART and CRAFT</h2>
                            <div class="courseage">
                                <i class="fa-solid fa-cake-candles"></i>
                                <h3 > 4-11 Years </h3>
                            </div>
                            <p >An exploration of the elements and principles of arts</p>
                        </div>
                        <div class="imgcontainer">
                            <img src="/images/Bollywood.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section>
        <div class="container footercardpadding">
            <div class="footercard flexrow">
                <img src="/images/Bollywood.png" alt="">
                <div class="footerdescription">
                    <h3>Flexible Schedule - Convenient Timings</h3>
                    <p>Rescheduling options available</p>
                </div>
            </div>
            <div class="footercard flexrow">
                <img src="/images/Bollywood.png" alt="">
                <div class="footerdescription">
                    <h3>Flexible Schedule - Convenient Timings</h3>
                    <p>Rescheduling options available</p>
                </div>
            </div>

        </div>

    </section>
    



    <script src="https://kit.fontawesome.com/0b20950690.js" crossorigin="anonymous"></script>
</body>
</html>